body {
    padding: 15px; 
    background-color:#EFF1FA;
}

#logo {
    text-align: center;
}

#frase {
    position: absolute;
    width: 680px;
    height: auto;
    max-height:500px;
    left: 150px;
    top: 168px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border:none;
    background: #EFF1FA;
}

.aviso {
    	position: absolute;
	gap: 5px;
	bottom: 150px;
	left: 160px;
	font-family:'poppins';
	font-size:12px;
}

#resultado {
    position: absolute;
    width: 336px;
    height: auto;
    max-height: 700px;
    left: 1032px;
    top: 72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    border: none;
    word-wrap: break-word;
}

.rectangulo {
    position: absolute;
    width: 400px;
    height: 90%;
    left: 1000px;
    top: 40px;
    bottom: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.botones {
 	position: absolute;
  	bottom: 0;
  	left: -90px;
  	width: 100%;
  	text-align: center;
  	margin-left: 240px;
  	display: inline-flex;
	transition: 2s background;
	cursor: pointer;
}

.boton {
  	flex-direction: row;
  	align-items: center;
  	padding: 24px;
  	gap: 8px;
  	width: 328px;
  	height: 67px;
  	border-radius: 24px;
  
/* Fuente */
    font-family:'poppins';
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:19px;
    text-align:center; 
}

#botonEncriptar {
    background:#0A3871; 
    color:#FFFFFF; 
    margin-bottom:72px; 
    margin-right:24px; 
}

#botonEncriptar:hover {
	background: #043066;
}

#botonEncriptar:active {
	background: #12335c;
}

#botonDesencriptar,
#botonCopiar {
    background:#EFF1FA; 
    border:1px solid #0A3871; 
    color:#0A3871; 
    margin-bottom:72px; 
	transition: 2s background;
}

#botonDesencriptar:hover,
#botonCopiar:hover, 
#botonDesencriptar:hover,
#botonCopiar:hover {
    background: #dadef2;
} 

#botonCopiar {
    display:none; 
    position:absolute; 
    bottom:0; 
    left: 890px; 
}

.botones :hover {
	font-size: 18px;
}

.botones :active {
	border-color: #800080;
}

@media (max-width: 450px){
/* Probado en un formato para S20 Ultra */
	body {
        display: block;
		width: 450px;
	}

	#frase {
		width: auto;
		height: 200px;
		margin-top: 0px; 
		display: block;
		left: 45px;
	}
	
    	.aviso {
		position: absolute;
		gap: 5px;
		bottom: 495px;
		left: 45px;
	}
	
	 .rectangulo {
	    	width: 360px;
		height: 400px;
		top: 580px;
		left: 5px;
		position: relative;
		margin: 10px;
		border-radius: 32px; 
	    	display: block;
	}

	.botones {
        	width: 100%;
		height: 450px;
		left: 0px;
		margin-left: 0px;
		flex-direction: column;
	   	display: block;
		top: 440px;
	}

	#botonCopiar {
		left: 45px;
		top: 540px;	
    	}
    
	#botonEncriptar {
		margin-right: 0px;
		margin-bottom: 30px;
   	 }
	
   	#resultado {
		top: 700px;
		display: flex;
		left: 45px;
		width: 300px;	
	}
    
}
